<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1752</integer>
    <key>capHeight</key>
    <integer>1434</integer>
    <key>copyright</key>
    <string>Copyright 2011 by Brian J. Bonislawsky DBA Astigmatic (AOETI) (astigma@astigmatic.com), with Reserved Font Names "Fondamento" and "Fondamento Italic". Copyright 2023 The Dr Vivigraph Project Authors (github.com/googlefonts/dr-vivigraph).</string>
    <key>descender</key>
    <integer>-666</integer>
    <key>familyName</key>
    <string>Dr Vivigraph</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>m</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>250</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>f1</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>677</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>figs</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1200</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-11.25</real>
    <key>openTypeGaspRangeRecords</key>
    <array>
      <dict>
        <key>rangeGaspBehavior</key>
        <array>
          <integer>0</integer>
          <integer>1</integer>
          <integer>2</integer>
          <integer>3</integer>
        </array>
        <key>rangeMaxPPEM</key>
        <integer>65535</integer>
      </dict>
    </array>
    <key>openTypeHeadCreated</key>
    <string>2023/01/23 17:28:32</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>3</integer>
      <integer>4</integer>
    </array>
    <key>openTypeHheaAscender</key>
    <integer>2122</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>-6</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>5</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>1</integer>
    <key>openTypeHheaDescender</key>
    <integer>-666</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Astigmatic (AOETI)</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.astigmatic.com/</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Astigmatic (AOETI)</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.astigmatic.com/</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Dr Vivigraph</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameVersion</key>
    <string>Version 1.001</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
      <integer>29</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>3</integer>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
      <integer>1</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>800</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>100</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>1230</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>790</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1065</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>620</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>1230</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>790</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1065</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1752</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-666</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>-370</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1900</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>666</integer>
    <key>postscriptBlueFuzz</key>
    <integer>1</integer>
    <key>postscriptBlueScale</key>
    <real>0.039625</real>
    <key>postscriptBlueShift</key>
    <integer>7</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>DrVivigraph-Regular</string>
    <key>postscriptForceBold</key>
    <false/>
    <key>postscriptFullName</key>
    <string>Dr Vivigraph Regular</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-200</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>styleMapFamilyName</key>
    <string>Dr Vivigraph</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Italic</string>
    <key>trademark</key>
    <string>Fondamento Italic is a trademark of Astigmatic (AOETI).</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>1024</integer>
  </dict>
</plist>
